{% extends 'base.html.twig' %}

{% block title %}Hello StaticPagesController!
{% endblock %}

{% block body %}
	<h1 class="btn btn-primary">Bootstrap ou pas ?</h1>
	<div class="btn btn-outline-success">message de confirmation</div>
	<div class="btn btn-outline-warning">Message erreur</div>
	<div class="btn btn-outline-danger">Message erreur</div>
	<div class="alert-success">Message erreur</div>
	<div>accessibility
		<span class="material-icons material-icons-outlined">
			settings_accessibility
		</span>
	</div>
	<div>
		accessibility
		<span class="material-icons">
			accessibility_new
		</span>
	</div>
{% endblock %}
